.App {
  text-align: center;
  margin: 25px
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul,
p {
  font-size: medium;
}

img {
  max-width: 400px;
  max-height: auto;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card h2 p {
  text-align: center;
}