.App {
  text-align: center;
  margin: 25px
}

.navLink {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul,
p {
  font-size: medium;
}

img {
  max-width: auto;
  max-height: 300px;
  justify-content: center;
  padding-bottom: 15px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card h2 p {
  text-align: center;
}

label {
  font-size: small;
  margin-bottom: none;
  margin-top: 25;
}

form {
  flex-direction: column;
  width: 300px;
  margin: 1rem 0;
  justify-self: center;
}

#container {
  display: flex;
  justify-content: center;
}

input,
select {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

/* 
#box {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
} */

#search {
  padding-top: 15px;
  padding-bottom: 50px;
}
